<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-success p-2" id="header">
   <a class="navbar-brand container" style="color:white;"><b>User Management</b></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a hres="" class="nav-link " data-toggle="modal" data-target="#addUserModal"><i class="fa fa-plus"></i> </a>
         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel name="key" id="searchName"
            class="form-control mr-sm-2" placeholder="Search users..." required>
      </form>
   </div>
</nav>

<!-- All Users -->

<div class="container pt-5" id="main-container">
    <div class="row">
       <div *ngFor="let user of users" class="col-md-6 col-xl-4">
          <div class="card m-b-30">
             <div class="card-body row">
                <div class="col-6 card-title align-self-center mb-0">
                   <h5>User Id: {{user?.id}}</h5>
                   <p class="m-0">Name: {{user?.name}}</p>
                </div>
             </div>
             <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email Id: {{user?.email}}</li>
                <li class="list-group-item"><i class="fa fa-user float-right"></i>Active Status : {{user?.isActive == true ? 'No' : 'Yes' }}
                </li>
             </ul>
             <div class="card-body">
                <div class="float-right btn-group btn-group-sm">
                   <a class="btn btn-primary tooltips" data-placement="top" (click)="onOpenModal(user, 'edit')"
                      data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                   <a class="btn btn-danger tooltips" data-placement="top" (click)="onOpenModal(user, 'delete')"
                      data-original-title="Delete"><i class="fa fa-times"></i></a>
                </div>
             </div>
          </div>
       </div>
    </div>
 
    <!-- Add users -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="adduserModalLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="adduserModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
                   <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
                   </div>
                   <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email"
                         required>
                   </div>
                   <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" ngModel name="password" class="form-control" id="password"
                         placeholder="Password" required>
                   </div>
                   <div class="form-group form-check">
                      <input type="checkbox" ngModel class="form-check-input" id="isActive" checked>
                      <label class="form-check-label" for="exampleCheck1">Is Active</label>
                   </div>
                   <div class="modal-footer">
                      <button type="button" id="add-user-form" class="btn btn-secondary"
                         data-dismiss="modal">Close</button>
                      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save Details</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
    <!-- Edit User -->
 
    <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="updateuserModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">
                <form #editForm="ngForm">
                   <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" ngModel="{{editUser?.name}}" name="name" class="form-control" id="name"
                         aria-describedby="emailHelp" placeholder="Name">
                   </div>
                   <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" ngModel="{{editUser?.email}}" name="email" class="form-control" id="email"
                         placeholder="Email">
                   </div>
                   <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" ngModel="{{editUser?.password}}" name="password" class="form-control"
                         id="password" placeholder="Password">
                   </div>
                   <div class="form-group form-check">
                      <input type="checkbox" ngModel="{{editUser?.isActive}}" class="form-check-input" id="isActive">
                      <label class="form-check-label" for="exampleCheck1">Is Active</label>
                   </div>
                   <div class="modal-footer">
                      <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                      <button (click)="onUpdateUser(editUser?.id,  editForm.value)" data-dismiss="modal"
                         class="btn btn-primary">Save changes</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 
    <!-- Delete User -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">
                <p>Are you sure you want to delete user {{deleteUser?.name}}?</p>
                <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                   <button (click)="onDeleteUser(deleteUser?.id)" class="btn btn-danger"
                      data-dismiss="modal">Yes</button>
                </div>
             </div>
          </div>
       </div>
    </div>